*.pyc
.coverage
.coverage.*
.idea
.pytest_cache

db.sqlite3
htmlcov
logs/

htmlcov/
/.idea
/.pytest_cache
/.coverage
/db.sqlite3
/logs/*

**/__pycache__

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
#.env
#.venv
#env/
#venv/
#ENV/
#env.bak/
#venv.bak/
#git rm --cached */__pycache__/*